@import '../../styles/breakpoints';

.registration {
  margin : 3.75rem 0 3.9375rem;

  &__top {
    display         : flex;
    justify-content : space-between;
  }
}

.title {
  color          : var(--yellow);
  font-family    : var(--anton);
  font-size      : 3.125rem;
  font-weight    : 400;
  line-height    : 4.6875rem;
  margin         : 0 0 1.9375rem 0;
  text-transform : uppercase;

  &--bleck {
    color : var(--bleck);
  }
}

.arrow {
  background-color : var(--bleck);
  border-radius    : 50%;
  box-shadow       : 0.25rem 0.25rem 0.5rem var(--form-shadow);
  cursor           : pointer;
  height           : 3.125rem;
  position         : relative;
  transition       : all 0.5s;
  width            : 3.125rem;

  &:before {
    background-image  : url("../../assets/images/helmet/Arror-bleck.svg");
    background-repeat : no-repeat;
    background-size   : cover;
    content           : '';
    height            : 0.8125rem;
    left              : 50%;
    position          : absolute;
    top               : 50%;
    transform         : translateY(-50%) translateX(-50%);
    width             : 1.75rem;
  }

  &:hover {
    box-shadow : 0 0.25rem 0.625px var(--bleck);
  }
}

.form {
  border-radius : 1.875rem;
  box-shadow    : 0 0.25rem 1rem var(--form-shadow);
  padding       : 3.125rem 3.75rem 4.4375rem;

  &__control {
    display        : flex;
    flex-direction : column;
    height         : 4.375rem;
    margin-bottom  : 2.25rem;
    max-width      : 31.9375rem;
  }
}

.label {
  color       : var(--text-gray);
  font-family : var(--ubuntu);
  font-size   : 0.75rem;
  font-weight : 400;
  line-height : 0.875rem;
}

.input {
  border        : none;
  border-bottom : 0.0625rem solid var(--input-gray);
  color         : var(--bleck);
  font-family   : var(--ubuntu);
  font-size     : 1.125rem;
  font-weight   : 400;
  height        : 2.3125rem;
  line-height   : 1.3125rem;
  overflow      : hidden;
  resize        : none;

  &:focus {
    border-bottom-color : var(--yellow);
    outline             : none;
  }
}

.input-error {
  border-bottom : 0.0625rem solid var(--red-error);
}

.error {
  color       : var(--red-error);
  font-size   : 0.75rem;
  line-height : 0.875rem;
}

@include respond-below(lg) {
  .registration {
    margin : 1.5625rem 1.6875rem 2.6875rem;
  }

  .form {
    padding : 1.875rem 2.5rem;
  }

  .title {
    font-size     : 2rem;
    line-height   : 3rem;
    margin-bottom : 0.875rem;
  }
}

@include respond-below(sm) {
  .arrow {
    height : 2.5rem;
    width  : 2.5rem;

    &:before {
      height : 0.625rem;
      width  : 1.375rem;
    }
  }

  .form {
    display        : flex;
    flex-direction : column;

    &__control {
      margin : 0;
    }
  }

  .input {
    font-size : 0.8125rem;
  }

}

@include respond-below(xs) {
  .btn-form {
    display         : flex;
    justify-content : center;
  }
}

