<div class="boundary">
  <a name="contact"></a>
  <div class="registration">
    <div class="registration__top">
      <h3 class="title">Contact <span class="title--bleck">Us</span></h3>
      <a href="#header" class="arrow"></a>
    </div>
    <form class="form" [formGroup]="form" (keyup.enter)="onSubmit()" (ngSubmit)="onSubmit()">
      <div class="form__control">
        <label class="label" for="name" [class.error]="isControlInvalid(form.get('name'))">Full Name</label>
        <input required id="name" class="input input-error" type="text" formControlName="name"
               [class.input-error]="isControlInvalid(form.get('message'))">
        <span class="error" *ngIf="isControlInvalid(form.get('name'))">
       {{getErrorMessage(form.get('name')?.errors, 'Full name')}}
      </span>
      </div>

      <div class="form__control">
        <label class="label" for="company-name" [class.error]="isControlInvalid(form.get('company'))">Company
          Name</label>
        <input required id="company-name" class="input" type="text" formControlName="company"
               [class.input-error]="isControlInvalid(form.get('message'))">
        <span class="error" *ngIf="isControlInvalid(form.get('company'))">
       {{getErrorMessage(form.get('company')?.errors, 'Company Name')}}
      </span>
      </div>

      <div class="form__control">
        <label class="label" for="phone-number" [class.error]="isControlInvalid(form.get('phone'))">Phone Number</label>
        <input required id="phone-number" class="input" type="number" formControlName="phone"
               [class.input-error]="isControlInvalid(form.get('message'))">
        <span class="error" *ngIf="isControlInvalid(form.get('phone'))">
       {{getErrorMessage(form.get('phone')?.errors, 'Phone Number')}}
      </span>
      </div>

      <div class="form__control">
        <label class="label" for="email" [class.error]="isControlInvalid(form.get('email'))">E-mail</label>
        <input required id="email" class="input" type="email" formControlName="email"
               [class.input-error]="isControlInvalid(form.get('message'))">
        <span class="error" *ngIf="isControlInvalid(form.get('email'))">
       {{getErrorMessage(form.get('email')?.errors, 'Email')}}
      </span>
      </div>

      <div class="form__control">
        <label class="label" for="text-area" [class.error]="isControlInvalid(form.get('message'))">Write Us
          Messages</label>
        <textarea required id="text-area" class="input" maxlength="300" rows="10" cols="50" formControlName="message"
                  [class.input-error]="isControlInvalid(form.get('message'))"></textarea>
        <span class="error" *ngIf="isControlInvalid(form.get('message'))">
       {{getErrorMessage(form.get('message')?.errors, 'Message')}}
      </span>
      </div>

      <div class="btn-form">
        <button class="button button--yellow" type="submit" [disabled]="form.invalid">Send Massage</button>
      </div>
    </form>
  </div>
</div>

