@import '../../styles/breakpoints';

.header {
  align-items        : center;
  animation-duration : 2s;
  display            : flex;
  justify-content    : space-between;
  padding-top        : 3.125rem;
}

.logo {
  height : 2.5rem;
}

.navigation {
  display : flex;
}

.nav-list {
  display    : flex;
  list-style : none;
  padding    : 0;

  &--burger {
    flex-direction : column;
  }
}

.list-link {
  cursor       : pointer;
  margin-right : 3.125rem;
  transition   : all 0.2s;

  &--burger {
    margin-bottom : 1.75rem;
  }

  .link {
    color           : var(--bleck);
    font-family     : var(--ubuntu);
    font-size       : 1.125rem;
    font-style      : normal;
    font-weight     : 500;
    text-decoration : none;
    transition      : all 0.2s;

    &--burger {
      font-size : 1.5rem;
    }

    &:hover {
      color       : var(--white);
      text-shadow : 0 0.375rem 0.75rem var(--btn-shadow);
    }
  }
}

.burger-menu {
  background-color : var(--yellow);
  height           : 100%;
  overflow-x       : hidden;
  padding          : 1.6875rem;
  position         : absolute;
  top              : 5rem;
  width            : 100%;
  z-index          : 4;
}

span {
  opacity : 0.5;
}

.menu-btn {
  cursor   : pointer;
  display  : none;
  position : relative;

  &.is-menu {
    background-color : var(--bleck);
    border-radius    : 0.0625rem;
    height           : 0.1875rem;
    width            : 1.875rem;
  }
}

.close-burger {
  background-color : var(--bleck);
  border-radius    : 0.0625rem;
  height           : 0.1875rem;
  position         : relative;
  transform        : rotate(-45deg);
  width            : 1.875rem;

  &::before {
    background-color : var(--bleck);
    border-radius    : 1px;
    content          : '';
    height           : 3px;
    left             : 0;
    position         : absolute;
    top              : 0;
    transform        : rotate(86deg);
    width            : 30px;

  }
}

.menu-btn__burger::before, .menu-btn__burger::after {
  background    : var(--bleck);
  border-radius : 0.0625rem;
  content       : '';
  height        : 0.1875rem;
  position      : absolute;
  transition    : all 0.5s ease-in-out;
  width         : 1.0625rem;
}

.menu-btn__burger::before {
  left      : 0;
  top       : 0.375rem;
  transform : translateY(-1rem);
}

.menu-btn__burger::after {
  left      : 0.875rem;
  top       : -0.375rem;
  transform : translateY(1rem);
}

@include respond-below(lg) {
  .header {
    margin      : 0 3.125rem;
    padding-top : 2.5rem;
  }

  .nav-list {
    li {
      margin-right : 1.5625rem;
    }
  }
}

@include respond-below(md) {
  .header {
    margin : 0 25px;
  }

  .logo {
    height : 32px;
  }

  .list-link {
    margin-right : 15px;
  }

  .burger-menu {
    display : none;
  }
}

@include respond-below(sm) {
  .navigation {
    display : none;
  }

  .menu-btn {
    display : flex;
  }

  .burger-menu {
    display : block;
  }
}

@include respond-below(xs) {
  .header {
    padding-top : 41px;
  }
}
