<a name="header"></a>
<header class="header">
  <img class="logo" alt="logo" src="assets/images/logo/logo.svg">
  <div class="menu-btn" [class.is-menu]="!isOpened" (click)="toggle()">
    <div [class]="{'menu-btn__burger': !isOpened, 'close-burger': isOpened}"></div>
  </div>
  <nav class="navigation">
    <ul class="nav-list">
      <li class="list-link" *ngFor="let menuItem of menu"><a class="link" [href]="menuItem.href">{{ menuItem.name }}</a>
      </li>
    </ul>
    <a href="#contact" class="button button--hover">Contact us</a>
  </nav>
</header>
<!--slider-->
<div class="burger-menu" *ngIf="isOpened">
  <nav>
    <ul class="nav-list nav-list--burger">
      <li class="list-link list-link--burger" *ngFor="let menu  of mobileMenu.main">
        <a class="link link--burger" [href]="menu.href">{{ menu.name }}</a>
      </li>
    </ul>
  </nav>
  <div>
    <span>Services</span>
    <nav class="burger-menu-nav">
      <ul class="nav-list nav-list--burger">
        <li class="list-link list-link--burger" *ngFor="let menu of mobileMenu.services">
          <a class="link link--burger" [href]="menu.href">{{ menu.name }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>



