@import './breakpoints';

.button {
  background-color : var(--white);
  border           : none;
  border-radius    : 0.75rem;
  box-shadow       : 0.25rem 0.25rem 0.5rem var(--btn-shadow);
  box-sizing       : border-box;
  color            : var(--bleck);
  cursor           : pointer;
  display          : inline;
  font-family      : var(--ubuntu);
  font-size        : 1.125rem;
  font-weight      : 500;
  padding          : 1rem 0.875rem 0.8125rem;
  text-decoration  : none;
  transition       : all 0.4s;

  &--hover {
    &:hover {
      box-shadow : 0.25rem 0.0625rem 1.625rem var(--btn-shadow);
      transform  : scale(1.05);
    }

    &:active {
      transform : scale(1.0);
    }
  }

  &--large {
    border-radius : 1rem;
    padding       : 1.375rem 2.5rem;
  }

  &--yellow {
    background-color : var(--yellow);
    box-shadow       : none;
    padding          : 1.3125rem 2rem;

    &:hover:valid {
      color     : var(--white);
      transform : scale(1.06);

      &:active {
        transform : scale(1.01);
      }
    }

    &:disabled {
      color   : var(--input-gray);
      opacity : 0.6;
    }
  }
}

@include respond-below(lg) {
  .button {

    &--large {
      padding : 1.25rem 2.4375rem;
    }

    &--yellow {
      padding : 1.25rem 1.875rem;
    }
  }
}

@include respond-below(sm) {
  .button {
    font-size   : 0.875rem;
    line-height : 1rem;

    &--large {
      margin-bottom : 3rem;
    }

    &:hover {
      transform : scale(1.01);
    }

    &:active {
      visibility : hidden;
    }
  }
}

@include respond-below(xs) {
  .button {
    &--yellow {
      width : 9.625rem;
    }
  }
;
}
