@mixin fontFaceUbuntu($type, $weight, $style) {
  font-family : Ubuntu;
  src         : url("../assets/fonts/ubuntu/Ubuntu-#{$type}.ttf");
  font-weight : $weight;
  font-style  : $style;
}


// Font-family Ubuntu-Light
@font-face {
  @include fontFaceUbuntu('Light', 300, normal);
}

// Font-family Ubuntu-LightItalic
@font-face {
  @include fontFaceUbuntu('LightItalic', 300, italic);
}

// Font-family Ubuntu-Regular
@font-face {
  @include fontFaceUbuntu('Regular', 400, normal);
}

// Font-family Ubuntu-RegularItalic
@font-face {
  @include fontFaceUbuntu('RegularItalic', 400, italic);
}

// Font-family Ubuntu-Medium
@font-face {
  @include fontFaceUbuntu('Medium', 500, normal);
}

// Font-family Ubuntu-MediumItalic
@font-face {
  @include fontFaceUbuntu('MediumItalic', 500, italic);
}

// Font-family Ubuntu-Bold
@font-face {
  @include fontFaceUbuntu('Bold', 700, normal);
}

// Font-family Ubuntu-BoldItalic
@font-face {
  @include fontFaceUbuntu('BoldItalic', 700, italic);
}
