<section class="company">
  <div class="about-company">
    <h3 class="title">Never Caught<br>Off-Guard Again</h3>
    <div class="company-goal">
      <p class="text">We are specialist in protecting your assets and reputation to make sure you operate risk-free and
        focus on your core business.</p>
      <button class="button button--large button--hover">Learn More</button>
      <a href="#contact">
        <div class="scroll"></div>
      </a>
    </div>
  </div>
</section>

