@import '../../styles/breakpoints';

.company {
  padding : 11.25rem 0 3.4375rem;
}

.about-company {
  display        : flex;
  flex-direction : column;
}

.company-goal {
  z-index : 2;
}

.scroll {
  background-image  : url("./../../assets/images/helmet/Arrow.svg");
  background-repeat : no-repeat;
  background-size   : cover;
  height            : 5.3125rem;
  margin-top        : 4.0625rem;
  width             : 1.3125rem;
}

.title {
  color          : var(--bleck);
  font-family    : var(--anton);
  font-size      : 4.25rem;
  left           : -5rem;
  line-height    : 5.625rem;
  margin         : 0;
  position       : relative;
  text-transform : uppercase;
}

.text {
  color       : var(--bleck);
  font-family : var(--ubuntu);
  font-size   : 1.125rem;
  font-style  : normal;
  font-weight : 400;
  line-height : 1.875rem;
  margin      : 2.0625rem 0 3.9375rem 0;
  max-width   : 560px;
}

@include respond-below(lg) {
  .company {
    margin  : 0 6.25rem;
    padding : 5rem 0 6.5625rem;
  }

  .title {
    font-size   : 3.625rem;
    line-height : 4.375rem;
  }

  .text {
    line-height : 1.25rem;
    width       : auto;
  }
}

@include respond-below(sm) {
  .company {
    margin : 0 1.6875rem;
  }

  .title {
    font-size   : 2.625rem;
    left        : 0;
    line-height : 130%;
    width       : auto;
  }

  .text {
    font-size   : 0.875rem;
    font-weight : 400;
    margin      : 1.5625rem 0 1.875rem;
  }

  .scroll {
    display : none;
  }
}

@include respond-below(xs) {
  .company {
    height      : 35rem;
    overflow    : hidden;
    padding-top : 4.0625rem;
  }
}
