@import '../styles/breakpoints';

.background {
  background-color : var(--yellow);
  height           : 50.75rem;
  overflow         : hidden;
  position         : relative;

  &:before {
    background-image    : url("../assets/images/helmet/space-helmet.svg");
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : cover;
    content             : '';
    float               : right;
    height              : 40.4375rem;
    overflow            : hidden;
    position            : absolute;
    right               : 0;
    top                 : 11.5rem;
    width               : 51.625rem;
  }
}

@include respond-below(xlg) {
  .background {
    height : 58.125rem;

    &:before {
      height : 34.75rem;
      width  : 39.16rem;
    }
  }
}

@include respond-below(lg) {
  .background {
    height : 50.75rem;

    &:before {
      display : none;
    }
  }
}

@include respond-below(sm) {
  .background {
    height : 31.25rem;
  }
}

@include respond-below(xs) {
  .background {
    height : 50.75rem;

    &:before {
      display : flex;
      height  : 19.5625rem;
      left    : 2.5rem;
      top     : 57%;
      width   : 25rem;
    }
  }
}
