/* You can add global styles to this file, and also import other style files */
@import 'styles/ubuntu';
@import 'styles/breakpoints';
@import 'styles/anton';
@import 'styles/btn';

:root {
  --anton       : Anton, sans-serif;
  --bleck       : #111111;
  --ubuntu      : Ubuntu, sans-serif;
  --white       : #f4f4f7;
  --yellow      : #FFBC00;
  --red-error   : #EF2828;
  --input-gray  : rgba(0, 0, 0, 0.2);
  --text-gray   : #999999;
  --btn-shadow  : rgba(0, 0, 0, 0.5);
  --form-shadow : rgba(0, 0, 0, 0.08);
}

body {
  color       : var(--bleck);
  font-family : var(--ubuntu);
  font-size   : 1rem;
  margin      : 0;
}

.boundary {
  margin    : 0 auto;
  max-width : 73.125rem;
  width     : 100%;
}
